@charset "utf-8";
/* CSS Document */
.header{
	height: 60px;
	width: 1170px;
	margin: auto;
}

.logo{
	width: 220px;
	float: left;
}

.logo img{
	width: 220px;
}

.nav{
	width: 502px;
	margin: auto;
}

a:hover{
	text-decoration: none;
}

.nav-list li{
	display: inline-block;
	margin: 30px 20px;
}

.nav-list li a:hover{
	color: #fff;
	border-radius: 50px;
	background-color: #692A1B;
}

.nav-list li .cz{
	color: #fff;
	border-radius: 50px;
	background-color: #692A1B;
}

.nav-list a{
	padding: 8px 25px;
}

.main{
	width: 1170px;
	margin: 220px auto;
}

.title{
	height: 80px;
	width: 590px;
	margin: auto;
	position: relative;
}

.zuo{
	position: absolute;
	top: 15px;
	left: 25px;
}

.you{
	position: absolute;
	top: 15px;
	right: 25px;
}

.jieshao{
	margin: auto;
}

.jieshao h1{
	font-size: 48px;
	color: #692A1B;
	letter-spacing: 0.2em;
	text-align: center;
}

.jieshao p{
	font-size: 12px;
	color: #692A1B;
	text-align: center;
	margin-top: 5px;
}

.neiron{
	width: 1170px;
	margin-top: 120px;
}

.tianran-nr{
	float: right;
	position: relative;
}

.tianran-nr h2,.renzao-nr h2{
	font-size: 28px;
	color: #fff;
	position: absolute;
	top: 18px;
	left: 36px;
}

.tianran-nr .tianran,.renzao-nr .renzao{
	width: 450px;
	line-height: 24px;
	margin-top: 30px;
	text-indent: 2em;
}

.pm{
	margin-top: 40px;
}

.pm p{
	line-height: 36px;
	color: #692A1B;
}

.yu-2{
	height: 320px;
	margin-top: 120px;
}

.renzao-nr{
	float: left;
	position: relative;
}

.feicuitu{
	float: right;
}


