@charset "utf-8";
/* CSS Document */
.header{
	height: 60px;
	width: 1170px;
	margin: auto;
}

.logo{
	width: 220px;
	float: left;
}

.logo img{
	width: 220px;
}

.nav{
	width: 502px;
	margin: auto;
}

a:hover{
	text-decoration: none;
}

.nav-list li{
	display: inline-block;
	margin: 30px 20px;
}

.nav-list li a:hover{
	color: #fff;
	border-radius: 50px;
	background-color: #692A1B;
}

.nav-list li .qz{
	color: #fff;
	border-radius: 50px;
	background-color: #692A1B;
}

.nav-list a{
	padding: 8px 25px;
}

.main{
	width: 1170px;
	margin: 220px auto;
}

.title{
	height: 80px;
	width: 590px;
	margin: auto;
	position: relative;
}

.zuo{
	position: absolute;
	top: 15px;
	left: 25px;
}

.you{
	position: absolute;
	top: 15px;
	right: 25px;
}

.jieshao{
	margin: auto;
}

.jieshao h1{
	font-size: 48px;
	color: #692A1B;
	letter-spacing: 0.2em;
	text-align: center;
}

.jieshao p{
	font-size: 12px;
	color: #692A1B;
	text-align: center;
	margin-top: 5px;
}

.neiron{
	width: 1170px;
	margin-top: 120px;
}

.jiang,.shi,.xiang,.ma,.che,.pao,.cu{
	width: 1170px;
	height: 450px;
	margin: 40px 0;
}

.jiangtu,.xiangtu,.chetu,.cutu{
	float: right;
	margin: 124px 0;
}

.duanluo{
	width: 200px;
	float: right;
	margin: 110px auto;
}

.duanluo p{
	line-height: 24px;
	writing-mode: vertical-rl;
	float: right;
	letter-spacing: 0.2em;
}

.jiang h2,.xiang h2,.che h2,.cu h2{
	float: right;
	font-size: 36px;
	writing-mode: vertical-rl;
	color: #692A1B;
	margin: 99px 110px 99px 40px;
}

.shi img,.ma img{
	float: right;
}

.shi .shitu,.ma .matu,.pao .paotu{
	float: left;
	margin: 124px 0;
}

.duanluo-1{
	width: 200px;
	float: left;
	margin: 110px auto;
}

.duanluo-1 p{
	line-height: 24px;
	writing-mode: vertical-rl;
	float: left;
	letter-spacing: 0.2em;
}

.shi h2,.ma h2,.pao h2{
	float: left;
	font-size: 36px;
	writing-mode: vertical-rl;
	color: #692A1B;
	margin: 99px 40px 99px 110px;
}

.xiang .duanluo{
	width: 240px;
}

.cu .duanluo{
	width: 216px;
}


